body {
  margin: 0;
  padding: 0;
  background-color: #BDD89D;
}

h1 {
  color: #8D82D1;
  padding: 24px;
}

ul {
  list-style: none;
}

ul li {
  padding: 8px;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #8d82d1;
}

a:hover {
  color: white;
}

.homelink {
  color: #496ba7;
  margin: 8px;
}

h2,
p,
img {
  margin: 24px;
}

img {
  border-radius: 8px;
  border: 2px solid #496ba7;
}

h2 {
  color: #B2A2D2;
}

p {
  color: #41304B;
}
